<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="loading-container">
    <div class="loader"></div>
</div>
<div id="content" style="display: none; opacity:0;">
    <header>
      <div class="menuNavigation">
        <a class="activeMenuItem" href="/collection">Collection</a>
        <span>|</span>
        <a href="/achievements">Achievement Gallery</a>
      </div>
      <div class="logo">
        <img src="https://www.phantompeak.com/media/zyrnxsb4/pp_logo_2023-01.png?width=320&format=png&quality=80">
        <p id="welcomeName">Welcome back, {{ firstname }}</p>
      </div>
      <div class="Logout">
          <a href="/logout"><button >Logout</button></a>
      </div>
    </header>
            <div style="text-align: center;" class="wrapper">
            <center>
                <h1>YOUR COLLECTION</h1>
            <div class="custom-select-wrapper">
      <div class="custom-select" id="seasonDropdown">
        <span class="custom-select-trigger"></span>
        <div class="custom-options">
        </div>
      </div>
    </div>
    <div class="trail-card-container" id="cardContainer"></div>
    <div class="controls">
       <!--<button id="save-btn" class="btn primary btn-brand-primary" onclick="saveFlippedCards()">Save Collection</button>-->
    </div>
    </center>
  </div>
    <!-- Additional scripts can be added here if needed -->

    <script src="{{ url_for('static', filename='collection.js') }}"></script>
    <script src="{{ url_for('static', filename='loadingScreen.js') }}"></script>
    <script>
      activateLoader(true);
  </script>
</body>
</html>