<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="loading-container">
        <div class="loader"></div>
    </div>
    <div id="content" style="display: none; opacity:0;">
    <header>
        <div class="menuNavigation">
          <span></span>
        </div>
        <div class="logo">
          <a href="/login"> <img src="https://www.phantompeak.com/media/zyrnxsb4/pp_logo_2023-01.png?width=320&format=png&quality=80"></a>
          <p style="color: white;">Welcome to the Phantom Peak Tourist Zone</p>
        </div>
        <div class="Logout">
        </div>
      </header>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <input type="text" name="firstname" placeholder="Enter your first name" value="{{ firstname }}" required>
            <input type="email" name="email" placeholder="Enter your email" value="{{ email }}" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Register</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <p>Already registered? <a href="/login">Login</a></p>
    </div>
</div>
<script src="{{ url_for('static', filename='loadingScreen.js') }}"></script>
<script src="{{ url_for('static', filename='loadingScreen.js') }}"></script>
<script>
  activateLoader(true);
</script>
</body>
</html>